@import url('../../styles/variable.less');

.talk {
    .submit {
        text-align: right;
        margin-top: -42px;
    }
    button {
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .ant-input-textarea-show-count::after {
        float: left;
        line-height: 42px;
        margin-left: 10px;
    }
    .tools {
        border-top: 1px solid @borderColor;
        line-height: 32px;
        display: flex;
        .item {
            color: @lightTextColor;
            font-size: 14px;
            padding: 0px 12px;
            cursor: pointer;
        }
    }
}
